{% extends "adminReports.html" %}

{% block navPath3 %}
	<li class="breadcrumb-item"><a href="{{url_for('adminReportsAccounts')}}">Report Accounts</a></li>
	{% block navPath4 %}{% endblock %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<h2>Account Report</h2>
	<table class="table table-striped" style="font-size=12px">
		<thead>
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Grade Level</th>
				<th>Balance</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Mueller</td>
				<td>Ted</td>
				<td>5</td>
				<td>$32.50</td>
				<td><a href="#">EDIT</a></td>
			</tr>
			<tr>
				<td>Jones</td>
				<td>Frieda</td>
				<td>6</td>
				<td>-$56.50</td>
				<td><a href="#">EDIT</a></td>
			</tr>
			<tr>
				<td>Robson</td>
				<td>Bob</td>
				<td>7</td>
				<td>-$4.50</td>
				<td><a href="#">EDIT</a></td>
			</tr>
			<tr>
				<td>Blobson</td>
				<td>Job</td>
				<td>8</td>
				<td>$11.00</td>
				<td><a href="#">EDIT</a></td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}