{% extends "admin.html" %}

{% block navPath2 %}
	<li class="breadcrumb-item"><a href="{{url_for('adminUpcoming')}}">Upcoming Dates</a></li>
	{% block navPath3 %}{% endblock %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<h2>Upcoming</h2>
	<a href="#">Project 2</a> - 3/1/2018
	<p>We are presenting our Interface Designs for Systems Implementation</p>
	<a href="#">TGIF</a> - 3/2/2018
	<p>YAY WEEKEND!</p>
	<a href="#">Spring Break</a> - 3/12/2018
	<p>A week off for vacation. Not to be confused with Easter break. There is none</p>
	<a href="#">End of Time</a> - 1/19/2038
	<p>End of (Unix 32-bit) Time as we know it. Prepare for Armageddon.</p>
</div>
{% endblock %}